{% extends 'core/base.html' %}
{% load static %}
  {% block title %}   
  Resume - 
  {% endblock title %}

  
  {% block content %}
  <main id="main">
       <!-- ======= Resume Section ======= -->
       <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>{{ resume_desc.tittle_section }}</h2>
            <p>{{ resume_desc.desc_section }}</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Education</h3>
              {% for edu in educations %}
              <div class="resume-item">
                  <h4>{{ edu.degree }}</h4>
                  <h5>{{ edu.start_year }} - {% if edu.end_year %}{{ edu.end_year }}{% else %}Present{% endif %}</h5>
                  <p><em>{{ edu.institution }}</em></p>
                  <p>{{ edu.description }}</p>
              </div>
              {% endfor %}
            </div>

            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              {% for exp in experiences %}
              <div class="resume-item">
                  <h4>{{ exp.title }}</h4>
                  <h5>{{ exp.start_year }} - {% if exp.end_year %}{{ exp.end_year }}{% else %}Present{% endif %}</h5>
                  <p><em>{{ exp.company }}</em></p>
                  <p>{{ exp.description }}</p>
                  <ul>
                      {% for responsibility in exp.responsibilities_list %}
                          <li>{{ responsibility }}</li>
                      {% endfor %}
                  </ul>
              </div>
              {% endfor %}
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
    </main><!-- End #main -->
  {% endblock content %}
    